.Header {
  margin: 5px 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: $fs-1;
  .logo {
    width: 20%;

    .img {
      width: 50px;
    }
  }
  .leftMenu {
    a {
      margin: 0 20px;
      text-decoration: none;
      color: $color-black;
      transition: all 0.3s ease-in-out;
      font-weight: $fw-1;
      position: relative;
      padding-bottom: 8px;
    }
    a:hover {
      color: $color-red;
    }
    a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: $color-red;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
  .rightMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
    width: 20%;
    .btnLogin,
    .btnLogout {
      display: flex;
      align-items: center;
      gap: 10px;
      background: none;
      border: none;
      cursor: pointer;
      .iconUser {
        font-size: 25px;
        padding-right: 10px;
      }
      .iconUser:not(:last-child) {
        font-size: 25px;
        border-right: 1px solid $color-gray-0;
        padding-right: 10px;
      }
      .iconUser:last-child {
        font-size: $fs-3;
      }
    }
    .btnLogout:hover .iconUser {
      color: $color-red;
    }
  }
  .barsMenu {
    float: right;
    display: none;
    background: none;
  }

  .barsBtn {
    display: block;
    width: 20px;
    height: 2px;
    background: $color-red;
    position: relative;
  }
  .barsBtn:after,
  .barsBtn:before {
    content: attr(x);
    width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    background: $color-red;
  }
  .barsBtn:after {
    top: auto;
    bottom: -6px;
  }
}
.ant-drawer-body {
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}
.ant-btn > span {
  display: block !important;
}

@include respon-to("medium") {
  .Header {
    .barsMenu {
      display: inline-block;
    }
    .leftMenu,
    .rightMenu {
      display: none;
    }
    .logo a {
      margin-left: -20px;
    }
    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
      padding: 1px 20px;
    }
    .logo a {
      padding: 10px 20px;
    }
  }
}
.drawer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ant-drawer {
  .ant-drawer-body {
    padding: 0;
  }
}

.ant-drawer-body {
  .leftMenu {
    display: flex;
    flex-direction: column;
    gap: $mg-2;
    margin-top: $mg-2;
    a {
      color: $color-gray-0;
      font-weight: $fw-1;
      transition: all 0.2s;
      padding: 10px 24px;
    }
    a:hover {
      color: $color-red;
      background-color: #9b9b9b26;
    }
  }
}
