.Header {
  padding: 5px 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: $fs-1;
  .logo {
    width: 20%;

    .img {
      width: 50px;
    }
  }
  .leftMenu {
    a {
      padding: 0 20px;
      text-decoration: none;
      color: $color-black;
      transition: all 0.5s;
      font-weight: $fw-1;
    }
    a:hover {
      color: $color-red;
    }
  }
  .rightMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    width: 20%;
  }
  .barsMenu {
    float: right;
    display: none;
    background: none;
  }

  .barsBtn {
    display: block;
    width: 20px;
    height: 2px;
    background: #1890ff;
    position: relative;
  }
  .barsBtn:after,
  .barsBtn:before {
    content: attr(x);
    width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    background: #1890ff;
  }
  .barsBtn:after {
    top: auto;
    bottom: -6px;
  }
}
.ant-drawer-body {
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}
.ant-btn > span {
  display: block !important;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }
  .leftMenu,
  .rightMenu {
    display: none;
  }
  .logo a {
    margin-left: -20px;
  }
  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
  .logo a {
    padding: 10px 20px;
  }
}
